<table class="table">
    <thead>
      <tr>
        <th scope="col">Todo</th>
        <th scope="col">Created</th>
        <th scope="col">Due</th>
        <th scope="col">Complete</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="todos.length === 0">
        <td colspan="5">Nothing to do today!</td>
      </tr>
      <tr *ngFor="let todo of todos" [ngClass]="{'done': todo.done}">
        <td>{{ todo.task }}</td>
        <td>{{ todo.createdAt | date }}</td>
        <td>{{ todo.dateDue | date }}</td>
        <td><input (change)="toggleTodoDoneState(todo)" type="checkbox" [checked]="todo.done" /></td>
        <td><button (click)="removeTodo(todo)" class="btn btn-danger mb-2">Remove</button></td>
      </tr>
    </tbody>
  </table>